<%- include("partials/header") %>

  <h1 class="my-3"><%= course.title %> <span class="badge bg-info"><%= course.category?.name %></span></h1>
  <p class="text-muted my-3">
    <%= course.createdAt.toLocaleDateString("ro") %> <%= course.createdAt.toLocaleTimeString("ro") %>
  </p>
  <a href="/" class="btn btn-secondary">All Courses</a>
  <a href="/courses/edit/<%= course.id %>" class="btn btn-info mx-1">Edit</a>
  <form action="/courses/<%= course.id %>?_method=DELETE" method="POST" class="d-inline">
    <button type="submit" class="btn btn-danger mx-1">Delete</button>
  </form>
  <p class="mt-4"><%= course.description %></p>
  </div>

  <%- include("partials/footer") %>