<%- include("../partials/header") %>

  <h1 class="my-3"><%= category.name %></h1>
  <a href="/" class="btn btn-secondary">All Categories</a>
  <!-- <button href="/categories/edit/<%= category.id %>" class="btn btn-info mx-1" id="edit-category">Edit</button>
  <form action="/categories/<%= category.id %>?_method=DELETE" method="POST" class="d-inline">
    <button type="submit" class="btn btn-danger mx-1">Delete</button>
  </form> -->
  <div class="row g-5 my-4">
    <% if(courses.length > 0) { %>
      <% courses.forEach(course => { %>
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="card">
            <img src="<%= course.image %>" class="card-img-top bg-secondary" alt="JS" style="height: 200px" />
            <div class="card-body">
              <h4 class="card-title"><%= course.title %></h4>
              <p class="card-text"><%= course.description.substring(0, 100)%>...</p>
              <p class="text-muted" style="height: 50px">
                <%= course.createdAt.toLocaleDateString("ro") %> <%= course.createdAt.toLocaleTimeString("ro") %>
              </p>
              <a href="/courses/<%= course.id %>" class="btn btn-primary">Open Course</a>
            </div>
          </div>
        </div>
        <% }) %>
    <% } else { %>
      <h1>No courses found! Start adding some?</h1>
    <% } %>
  </div>
  </div>

  <%- include("../partials/footer") %>